/* Esse leyout é um exemplo de largura líquida! */
body{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #f2f2f2;
}

#container {
    border: 1px solid red;
    width: 85%;
    margin: 0 auto;
    background: #fff;
}
#marca {
    height: 100px;
    background: #27656d;
    text-align: center;
    line-height: 100px;
}
#conteudo {
    width: 75%;
    float: right;
}
#conteudo-principal {
    width: 65%;
    float: left;
}
#conteudo-secundario {
    width: 35%;
    float: right;
}
h2{
    text-align: center;
}
#conteudo-secundario h2, 
#conteudo-secundario p,
#conteudo-principal h2,
#conteudo-principal p {
    padding-left: 20px;
    padding-right: 20px;
}
#navegacao {
    width: 18%;
    float: left;
    padding-top: 20px;
    padding: 20px;
    background: #85b4b4;
}
#navegacao ul {
    text-decoration: none;
}
#navegacao li a{
    text-decoration: none;
}
#rodape {
    clear: both;
    background: #4babb8;
    padding: 5px;
}
